html, body { 
    //font:12px/10px "Trebuchet MS", sans-serif;
        /*font:14px/16px "Trebuchet MS", sans-serif;*/
        //font:14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	//font:14px/16px;
        //font-family: arial;
        font-family: arial,sans-serif;
	position:relative;
	width: 100%; 
	height:100%;
        padding:0;
        margin:0 auto;
        //background-color: #F0F0F0;
}

p.popup { font-size: 15px; margin: 0px; text-align: left;}
.popup img {width:40%;border:#666 solid 1px;margin:40px 0 0 0}

#blanket {
	background-color: #fff;
	opacity: 0.7;
	filter: alpha(opacity=0);
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}

#popUpDiv {
	position: absolute;
	background-color: rgba(189, 189, 189, 0.25);
	width: 420px;
	height: auto;
	z-index: 9002;
	padding: 20px;
	border:#333 1px solid;
	border-radius:5px;
}

.floatleft{
  float:left;
  text-align:center;
  display:inline-block;
  padding: 5px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #fff;
  border-color: 2px solid rgba(231, 76, 60, 0.5);
}

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  
.btn {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 1px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 25px;
  border:  2px solid rgba(231, 76, 60, 0.5);
  width: 95%;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* ------------------- for-control textbox etc format ------------------------*/

.form-control {

  width:  95%;
  padding: 2px 2px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #5DADE2;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #5DADE2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.total_fields 
{
	text-align:left; 
	color:black;
	font:14px Verdana, Geneva, sans-serif; 
	padding: 5px; 
	border: solid 1px  #bdbdbd;
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;/*0.1 actually means 10 %*/
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	outline:none;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	height:32px;
}
.total_fields:focus { 
outline: 0;
 box-shadow: 0 0 10px #666;
	-moz-box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
}


.divheader { 
    visibility: visible; inset: 0px auto auto; min-width: 100%; height: 67px; display: inline-block; background-color: #fff; border-bottom: 5px solid rgba(231, 76, 60, 0.5);transform: translate(0px, 0px);
    }

* {
  box-sizing: border-box;
}

a {
	color:#303030;
	outline:none;
	cursor:pointer;
	text-decoration:none
}
a:focus {
	outline:none;
}
a:hover {
	color:#87c7d5;
	text-decoration:strong;
}

/* Fixed sidenav, full height */
.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: rgba(189, 189, 189,0.05);
  font-family: open sans;
  /*height: 100%;
  width: 15%;
  position: fixed;
  top: 67px;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  padding-top: 20px;
  line-height:1.5;
  border-right:1px solid #ccc;*/
}


/* Style the sidenav links and the dropdown button */
.tab button {
  background-color: #fff;
  border-bottom: 6px solid #FFF;
  float: left;
  border:none;
  outline:none;
  cursor: pointer;
  margin-right:5px;
  padding: 14px 16px;
  transition: 0.3s;
  width:200px;
  font-size: 14px;
  border-radius:16px 16px 0px 0px;
}

/* On mouse-over */
.tab button:hover {
  color: #333;
}

.tab button:active {
  background-color: #ccc;
  background-color: rgba(255, 180, 1, 0.2);
  border-bottom: 6px solid rgba(231, 76, 60);
  border-radius:10px 10px 0px 0px;
}

/* Fixed sidenav, full height */
.sidenav {
  font-family: open sans;
  height: 100%;
  width: 15%;
  position: fixed;
  top: 67px;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  padding-top: 20px;
  line-height:1.5;
  border-right:1px solid #ccc;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-left: 6px solid #FFF;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #333;
  background-color: rgba(255, 180, 1, 0.1);
  border-left: 6px solid rgba(231, 76, 60, 0.4);
}

.sidenav1 {
  font-family: "Lato", sans-serif;    
  height: 100%;
  width: 250px;
  position: fixed;
  top: 67px;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  padding-top: 20px;
  line-height:1.5;
  border-right:1px solid #ccc;
  display:none;
}



.toplinks {
    display:none !important;
}

.mobicon {
     display:none;
}

@media screen and (max-width: 900px) {
.sidenav a, .dropdown-btn {
        font-size: 12px;
        padding-left:2px;
    }
.navlabel {
        display:none;
    }
.sidenav {
    width:50px;
}
.topicons {
    display:none;
}
.toplinks {
    display:block !important;
}
.webicon {
     display:none;
}
.mobicon {
     display:block;
}
div.taskbox {
        width:88% !important;
        margin-left:11% !important;
        font-size:12px;
}
.WHITbkgBLackborder {
    font-size:12px;
}
.labelcust {
    width:25%;
}
.labelcust1 {
    width:30%;
}
.forminput {    
    width:75%;
}

.column_one {
    margin-left:11% !important;
    width:88%;
}
.taskboard {
    width:99% !important;
}
.tabledate {
    width:38% !important;
}
.tabletask {
    width:20% !important;
}
.taskoncloud {
    display:none;
    width:30% !important;
    margin-left:-20px;
}
.clientname {
    width:30% !important;
}
.loginname {
    margin-right:10px;
}
div.maindiv {
    width:88% !important;
    margin-left: 11% !important;
}
.maindiv11 {
    margin-left: -30px !important;
    width:100%;
}
.table-list {
    width:87% !important;
    margin-left: 11% !important;
}
.multiselect-wrapper {
	width: 75% !important;
}
.multiselect-wrapper .multiselect-list {
	width: 300px !important;
}
.taskicon {
    display:block !important;
}
.tableicons {
    display:none !important;
}
.NewCompNote {
    width:70% !important;
}
.btnSaveNewNote {
    margin-right:1% !important;
}
.divnewuser {
    width:100% !important;
}
.divnewuserlbl {
    width:17% !important;
    margin-top:10px !important;
    
}

}
